@charset "utf-8";

/*
    New Perspectives on HTML5 and CSS3, 7th Edition
      Tutorial 7
      Case Problem 4

      Millennium Computers
      Author: Todd Adcox Jr
      Date:   1-22-19

      Filename:   mc_forms.css

*/

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Forms Style Sheet

   Filename: sb_forms.css

*/

input#fName:focus:valid,
input#lName:focus:valid,
input#street:focus:valid,
input#city:focus:valid,
input#state:focus:valid,
input#zip:focus:valid,
input#phone:focus:valid,
input#mail:focus:valid {
  background: rgb(220, 255, 220) url(mc_go.png) bottom right/contain no-repeat;
}

input#fname:focus:valid,
input#lname:focus:valid,
input#street:focus:valid,
input#city:focus:valid,
input#state:focus:valid,
input#zip:focus:valid,
input#phone:focus:valid,
input#mail:focus:valid {
  background: rgb(255, 232, 233) url(mc_stop.png) bottom right/contain no-repeat;
}