@charset "utf-8";

/*
    New Perspectives on HTML5 and CSS3, 7th Edition
      Tutorial 7
      Case Problem 4

      Millennium Computers
      Author: Todd Adcox Jr
      Date:   1-22-19

      Filename:   mc_forms.css

*/

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Forms Style Sheet

   Filename: sb_styles.css

*/

body {
  text-align: center;
}

form>fieldset {
  border: 0px;
}